apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: n8n

resources:
  - n8n-deployment.yaml
  - n8n-service.yaml
  - namespace.yaml
  - postgres-deployment.yaml
  - postgres-init-script.yaml
  - postgres-pvc.yaml
  - postgres-service.yaml

secretGenerator:
  - name: n8n-postgres-secret
    namespace: n8n
    envs:
      - .env